<nav class="navbar">
    <div class="col-md-8">
        <img src="assets/PM.png" alt="Hospital Roster Logo" class="col-md-2 logo" 
        style="height: 50px; width: auto; margin-right: 1rem; vertical-align: middle;" />
        <a class="mb-4 col-md-2">Home</a>
        <a class="col-md-2">About</a>
        <a class="col-md-2">Contact</a>
    </div>
        <img src="assets/logo.png" alt="Hospital Roster Logo" class="col-md-4 logo" 
        style="align-items: end; height: 60px; width: 320px; margin-right: 2rem; " />
    
</nav>